    @font-face {
        font-family: 'Tajawal';
        src:  url(/backend_frontend_font/static/src/fonts/Tajawal-Bold.ttf) format('truetype');
    }
  
  body {
      margin: 0;
      font-family: 'Tajawal' !important;
      color: rgba(14, 13, 13, 0.80);
  }