<?xml version="1.0" encoding="utf-8"?>
<odoo>
<!--    <record id="bsg_master_config_settings" model="ir.ui.view">-->
<!--        <field name="name">Master Configuration</field>-->
<!--        <field name="model">res.config.settings</field>-->
<!--        <field name="inherit_id" ref="base.res_config_settings_view_form" />-->
<!--        <field name="arch" type="xml">-->
<!--            <xpath expr="//div[hasclass('settings')]" position="inside">-->
<!--                <div class="app_settings_block" data-string="Bsg Master Configuration" string="Master Configuration" data-key="bsg_master_config">-->
<!--                    <h2>General Settings</h2>-->
<!--                    <div class="row mt16 o_settings_container">-->
<!--                        <div class="col-xs-12 col-md-6 o_setting_box">-->
<!--                            <div class="o_setting_right_pane">-->
<!--                                <label for="est_delivery_selection"/>-->
<!--                                <div class="text-muted">-->
<!--                                    Select the method to get estimated delivery days-->
<!--                                </div>-->
<!--                                <div class="mt8">-->
<!--                                    <field name="est_delivery_selection" class="o_light_label" widget="radio" required="True"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-lg-6 o_setting_box">-->
<!--                        <div class="o_setting_left_pane"/>-->
<!--                        <div class="o_setting_right_pane">-->
<!--                            <span class="o_form_label">Capacity Threshold</span>-->
<!--                            <div class="text-muted">-->
<!--                                Capacity Threshold used for trips-->
<!--                            </div>-->
<!--                            <div class="text-muted">-->
<!--                                <field name="capacity_threshold"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="o_setting_right_pane">-->
<!--                            <span class="o_form_label">Satha Capacity Threshold</span>-->
<!--                            <div class="text-muted">-->
<!--                                Satha Capacity Threshold used for trips-->
<!--                            </div>-->
<!--                            <div class="text-muted">-->
<!--                                <field name="satha_capacity_threshold"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                     <h2>Cargo Sale Setting</h2>-->
<!--                    <div class="row mt16 o_settings_container">-->
<!--                        <div class="col-xs-12 col-md-6 o_setting_box">-->
<!--                            <label for="car_year_id"/>-->
<!--                            <field name="car_year_id"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </xpath>-->
<!--        </field>-->
<!--    </record>-->


    <record id="bsg_master_config_settings_action" model="ir.actions.act_window">
        <field name="name">Master Configuration</field>
        <field name="res_model">res.config.settings</field>
<!--        <field name="view_id" ref="bsg_master_config_settings"/>-->
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'bsg_master_config'}</field>
    </record>



</odoo>
