.placemark .content * {
  color: inherit!important;
}
.drawing-control {
    top: 50px;
    left: .5em;
}
.remove-control {
    top: 72px;
    left: .5em;
}
.edit-control {
    top: 94px;
    left: .5em;
}
.ol-touch .drawing-control {
  top: 50px;
}

.startDraw{
  cursor: pointer;
}

.startDraw:hover{
     transform: scale(1.05);
  //box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

