.car_no_l{
	width: 160px;
}
.car_no_p{
	padding-left: 20px;
}
.car_plate{
	padding-right: 35px;
}
.car_no_p_l,
.car_no_p{
	font-size: 20px;
	font-weight: bold;
}
.takeimage{
	font-size: 12px !important;
	width: 25%;
	padding: 4px 1px !important;
	border-radius: 2px;
}
.additional-takeimage{
	font-size: 12px !important;
	width: 35%;
	padding: 4px 1px !important;
	border-radius: 2px;
}
